.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
serverserver.o
server/serverActions.o
server/serverBuild

# Local History for Visual Studio Code
.history/