.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
server.o
serverActions.o
serverBuild

# Local History for Visual Studio Code
.history/